body{
    header{
        position: relative;
        background-color: #0D8187;
        .logo{
            img{
                width: 50%;
                position: relative;
                left: -5%;
            }
        }
        h1{
            font-size: 2em;
            position: absolute;
            top: 45%;
            right: 5%;
        }
    }
}