body{
    header{
        position: relative;
        background-color: #0D8187;
        .logo{
            img{
                width: 50%;
                position: relative;
                left: -5%;
            }
        }
        h1{
            font-size: 2em;
            position: absolute;
            top: 45%;
            right: 5%;
        }
    }
}

@media only screen and (min-width:612px){
    body{
        header{
            .logo{
                img{
                    width: 40%;
                    position: relative;
                    left: 5%;
                }
            }
            h1{
                font-size: 3.2em;
                right: 10%;
            }
        }
    }
}

@media only screen and (min-width:1024px){
    body{
        header{
            .logo{
                img{
                    width: 35%;
                    left: 15%;
                }
            }
            h1{
                font-size: 4em;
                right: 15%;
            }
        }
    }
}