body{
    main{
        background: #303030;
        color: #fff;
        form{
            padding: 2em;
            #honeypot{
                display: none;
            }
            div{
                margin: 1.3em 0;
                // label{}
                input{
                    background-color: #0d8187;
                    border: none;
                }
                // span{}
                select{
                    background-color: #0d8187;
                    border: none;
                }
            }

            .mess{
                text-align: center;    
                textarea{
                    background-color: #0d8187;
                    border: none;
                    width: 90%;
                }
                
            }
            .submit{
                text-align: center;
                input{
                    font-size: 1.5em;
                    padding: 0.3em 1em;
                    border-radius: 18px;
                }
            }
            
        }
    }
}